
.gridContainer {
  margin: 0;
  height: 100vh;

  .gridItem {
    height: 100%;
  }
}


.contents-card {
  height: 100%;

  .card-body {
    height: 100%;
    overflow-y: scroll;

    .contentTitle {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .title {
        max-width: 20rem;

        .truncate {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .sentiment {

      }
    }
  }
}

.graph-card {
  height: 50%;
  width: 100%;
}